<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="" class="img-fluid rounded-start" alt="Product Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">product name</h5>
                        <p class="card-text"><strong>Price:</strong></p>
                        <p class="card-text">
                            <strong>Description:</strong> 
                        </p>
                        <button class="btn-outline-secondary">buy now</button>
                        <button class="btn-outline-secondary">add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>